@import "tailwindcss";

@theme {
    /* Font families */
    --default-font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN","Hiragino Sans", Meiryo, sans-serif;


    /* Color palette */
    --color-primary: #24A8BF;
    --color-black: #333333;
    --color-gray: #8B8B8B;

    /* spacing */
    --spacing-lg: 50px;
    --spacing-md: 40px;
    --spacing-sm: 30px;

    /* container */
    --container-default: 1110px;

    /* Breakpoints */
    --breakpoint-*: initial;
}

@custom-variant xlg (@media (width <= 1440px));
@custom-variant lg (@media (width <= 1280px));
@custom-variant md (@media (width <= 1024px));
@custom-variant sm (@media (width <= 768px));

