<footer class="bg-black text-white py-[70px_30px] md:py-[60px_20px]">
    <div class="container text-center">
        <p class="flex justify-center mb-lg sm:mb-md">
            <img
                class="max-w-[180px] sm:max-w-[100px] [filter:brightness(0)saturate(100%)invert(99%)sepia(1%)saturate(316%)hue-rotate(310deg)brightness(119%)contrast(100%)]"
                src="/assets/images/logo.svg"
                alt="Sky Coffee"
            />
        </p>
        <p>
            <small>©Sky Coffee</small>
        </p>
    </div>
</footer>
